<h1>My Portfolio (<%= current_user.stocks.count %>/9)</h1>
<h5><%= link_to "Change to Card View", 
      my_portfolio_change_display_style_path(display_style: "cards"), 
      remote: true 
%></h5>
<div>
  <% if params[:controller] == "user_stocks" %>
    <%= bootstrap_flash %>
  <% end %>
</div>
<table class="table table-striped">
  <tr>
    <th>Company</th>
    <th>Ticker Symbol</th>
    <th>Last Price</th>
    <th>Action</th>
  </tr>
  <% for stock in current_user.stocks %>
    <tr>
      <td><%= stock.name %></td>
      <td><%= stock.ticker %></td>
      <td>$<%= stock.last_price %></td>
      <td><%= link_to "Untrack", 
        user_stock_path(stock, display_style: params[:display_style]), 
        method: :delete, 
        remote: true, 
        class: "btn btn-xs btn-warning"%>
    </tr>
  <% end %>
</table>
