<h3>Search for Stock</h3>
<div class="stock-lookup well col-md-12" style="padding-bottom: 2px">
  <%= form_with url: search_stocks_path, id:"stock-lookup", method: :get, remote: true do |f| %>
    <div class="form-group row no-padding text-center">
      <div class="col-md-11">
        <%= f.text_field :ticker, class: "form-control search-box input-lg", placeholder: "Stock ticker symbol", autofocus: true %>
      </div>
      <div class="col-md-1">
        <%= hidden_field_tag "display_style", params[:display_style]%>
        <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
          <i class="fa fa-search"></i>
        <% end %>
      </div>
    </div>
  <% end %>
  <div id = "results">
    <%= render 'users/result', display_style: params[:display_style] %>
  </div>
</div>
<div id="stocks-index">
  <% if params[:display_style] == "cards" %>
    <%= render 'shared/stocks_cards.html', user: current_user%>
  <% elsif params[:display_style] == "table" %>
    <%= render 'shared/stocks_table.html', user: current_user%>
  <% end %>
</div>